@page
@{
    ViewData["Title"] = "Reset password";

}
<main id="main" tabindex="-1">
<div class="govuk-main-wrapper">
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    <div class="app-prose-scope">
        <div class="successBanner">
            <p class="govuk-body">
            <h2 class="emailLink govuk-body">
                If this user exists then a password reset link will be sent.
            </h2>
        </div>
        <div class="emailMessage">
            <div class="innerEmailMessage">
                <p class="govuk-body">
                    If you do not receive an email in the next 10 minutes, check your spam folder before contacting
                    <a class="govuk-link" href="mailto:maritimestats.help@dft.gov.uk">maritimestats.help@dft.gov.uk</a>
                </p>
            </div>
        </div>
    </div>
</div>
</main>
