@page
@model LockoutModel
@{
    ViewData["Title"] = "Your account is locked";
}

<div id="main" class="govuk-main-wrapper" tabindex="-1">
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    <div class="govuk-body-m">
        Try again later, or contact the help desk if you require your account to be unlocked.
    </div>
</div>