@page
@model PortFreight.Web.Areas.Admin.Pages.MSD3.MSD3Agents.EditModel

@{
    ViewData["Title"] = "Edit Agent";
}
<div class="govuk-body">
    <div class="govuk-back-link">
        <a class="govuk-link" asp-page="./Index" asp-route-id="@Model.Input.Msd3Id">Back</a>
    </div>
    <div class="govuk-main-wrapper">
        <h2 class="govuk-heading-l">Edit Msd3 : @Model.Input.Msd3Id</h2>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="govuk-error-summary"></div>
                    <span class="govuk-error-message">@Html.ValidationMessage("CustomError")</span>
                    <input type="hidden" asp-for="Input.Id" />
                    <input type="hidden" asp-for="Input.Msd3Id" />
                    <div class="govuk-form-group">
                        <label asp-for="Input.SenderId" class="govuk-label"></label>
                        <span asp-validation-for="Input.SenderId" class="govuk-error-message"></span>
                        <input asp-for="Input.SenderId" class="govuk-input" />
                    </div>
                    <div class="govuk-form-group">
                        <input type="submit" value="Save" class="govuk-button" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/msd3/VoyageReturn.js"></script>
    <script>
        var senders = @Html.Raw(Json.Serialize(Model.Msd3SenderIdList));
    </script>
}
