@page
@model ErrorModel404
@{
    ViewData["Title"] = "Page not found";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main" role="main" tabindex="-1">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Page not found</h1>
                <p class="govuk-body">
                    If you typed the web address, check it is correct.
                </p>
                <p class="govuk-body">
                    If you pasted the web address, check you copied the entire address.
                </p>
                <p class="govuk-body">
                    If the web address is correct or you selected a link or button,                    contact the Maritime Statistics Team.
                </p>
                <p class="govuk-body">
                    Telephone:
                    <br />
                    020 7944 4441
                </p>
                <p class="govuk-body">
                    Email:
                    <br />
                    <a href="#" class="govuk-link"> maritimestats.help@dft.gov.uk </a>
</p>
            </div>
        </div>
    </main>
</div>
