@page
@model ErrorModel500
@{
    ViewData["Title"] = "Error 500";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main" role="main" tabindex="-1">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Sorry, there is a problem with the service </h1>
                <p class="govuk-body">
                    Try again later.
                </p>
                <p class="govuk-grid-column">
                    We have not saved your answers. When the service is available , you will have to start again.
                </p>
                <p class="govuk-body">
                    To report this issue, contact the Maritime Statistics Team.
                </p>
                <p class="govuk-body">
                    Telephone:
                    <br />
                    020 7944 4441
                </p>
                <p class="govuk-body">
                    Email:
                    <br />
                    <a href="#" class="govuk-link"> maritimestats.help@dft.gov.uk </a>
                </p>
            </div>
        </div>
    </main>
</div>
