@page
@model PortFreight.Web.Pages.Msd1.IndexModel
@{
    ViewData["Title"] = "Freight movement return";
}
<main id="main" tabindex="-1">
<a class="govuk-link" asp-page="/Dashboard">Back</a>
<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                @ViewData["Title"]
            </h1>
           <h2 class="govuk-heading-l">Before you start</h2>
            <p class="govuk-body-l">You will need:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>vessel information</li>
                <li>voyage details</li>
                <li>cargo details</li>
            </ul>

            <a asp-page="/Msd1/CompanyDetails" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
                Start now
            </a>
            <div class="govuk-form-group">
                <h3 class="govuk-heading-m">More information</h3>
                <p class="govuk-body">
                    This information is needed to ensure the Department of Transport can make accurate estimates of
                    maritime traffic to inform policy decisions. The statistics are also required by
                    <a target="_blank" href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:31995L0064">EU legislation. <span class="govuk-visually-hidden">link opens in a new window</span></a>
                </p>
            </div>
        </div>
    </div>
</div>
</main>