@page
@model TermsOfUseModel
@{
    ViewData["Title"] = "Confidentiality and data protection";
}
<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @ViewData["Title"]
            </h1>

            <p class="govuk-body">
                The Department for Transport (DfT) is collecting data on maritime freight traffic through UK ports as required by the European Commission Maritime Statistics Directive (95/64/EU).
            </p>
            <p class="govuk-body">
                As part of this data collection we’re asking for your name and email address. This is in case we need to ask you follow-up questions about any of your returns. We will use it only for the purpose of asking follow-up questions.
            </p>
            <p class="govuk-body">
                The processing of personal data is necessary for the exercise of our functions as a government department. If your answers contain any information that allows you to be identified, DfT will, under data protection law, be the Controller for this information.
            </p>
            <p class="govuk-body">
                DfT’s privacy policy has more information about your rights in relation to your personal data, how to complain and how to contact the Data Protection Officer. You can view it at <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-transport/about/personal-information-charter" target="_blank" class="govuk-link--no-visited-state"> Personal information charter <span class="govuk-visually-hidden">link opens in a new window</span></a>.
            </p>
            <p class="govuk-body">
                Your information will be kept securely in a database within DfT and destroyed upon you informing us that you are no longer responsible for submitting data to the DfT for maritime statistics.
            </p>
        </div>
    </div>
</div>
