@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}
<a class="govuk-link" asp-page="/Dashboard">Back</a>
<div id="main" class="govuk-main-wrapper" tabindex="-1">
    @await Html.PartialAsync("_ErrorSummary")
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <ul class="tab__nav">
                <li>
                    <a href="/Profile/ContactDetails" class="govuk-link" data-target="ContactDetails">
                        Contact details
                    </a>
                </li>
                <li>
                    <a href="/Profile/RespondentDetails" class="govuk-link" data-target="RespondentDetails">
                        Respondent details
                    </a>
                </li>
                <li>
                    <a href="/profile/PortDetails" class="govuk-link" data-target="PortDetailsDetails">
                        Port details
                    </a>
                </li>
                <li>
                    <a href="#0" class="active govuk-link" data-target="ChangePassword">
                        Change password
                    </a>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
            </div>
            <form id="change-password-form" method="post">
                <fieldset class="govuk-fieldset" aria-describedby="_changePassword" role="group">

                    <span id="password-hint" class="govuk-hint">
                        Your password must be at least 12 characters long.
                        Try creating a password using three random words. For example, ‘BeachCoffeeWinter’ is secure yet easy to remember.
                    </span>
                    <div class="govuk-form-group">
                        <label asp-for="Input.OldPassword" class="govuk-label" id="_lblOldPassword"></label>
                        <span asp-validation-for="Input.OldPassword" class="govuk-error-message"></span>
                        <span id="_spOldPasswordHint" class="govuk-hint"></span>
                        <input asp-for="Input.OldPassword" id="Input_OldPassword" class="govuk-input" id="_lblNewPassword" autocomplete="false" readonly onfocus="this.removeAttribute('readonly');" />
                    </div>
                    <div class="govuk-form-group">
                        <label asp-for="Input.NewPassword" class="govuk-label"></label>
                        <span asp-validation-for="Input.NewPassword" class="govuk-error-message"></span>
                        <span id="_spNewPassword" class="govuk-hint"></span>
                        <input asp-for="Input.NewPassword" id="Input_NewPassword" class="govuk-input" />
                    </div>
                    <div class="govuk-form-group">
                        <label asp-for="Input.ConfirmPassword" class="govuk-label" id="_lbl_ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="govuk-error-message"></span>
                        <span id="_spConfirmPassword" class="govuk-hint"></span>
                        <input asp-for="Input.ConfirmPassword" id="Input_ConfirmPassword" class="govuk-input" />
                    </div>
                </fieldset>
                <button type="submit" class="govuk-button">Update password</button>
            </form>
        </div>
    </div>
</div>




