@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<div id="main" class="govuk-main-wrapper" tabindex="-1">

    <h1 class="govuk-heading-m">Password successfully changed</h1>
    <p class="govuk-body">
        You can now use your new password to access your account.
    </p>
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="">
            <p class="govuk-body">
                <button type="submit" class="link-button" asp-area="Identity" asp-page="/Account/Logout">Return to login page</button>
            </p>
        </form>

</div>





